<div class ="container">
    <div class="col-sm-6">
        <img src="images/main-bg.jpg"alt="">
        <div class="col-sm-6">
            <hi>Welcome!</hi>
            <p>Please check out all the cool new courses by our innovative and creative chefs.</p>
            <p>If you see a nes course, click <a href="/courses.html">the courses page</a>and explore!</p>
            <p>If you want to see a course you like you can <a href="/contact.html">contact us to join!</a>Soon you`ll be cooking in your own home.</p>
        </div>
    </div>
</div>
</div>